#chartdiv {
    width: 100%;
    height: 600px;
}



/* Main Device Menu Btn */

.dev-btn {
    margin: 0 7px;
    /*float: left;*/
    display:inline-block;
  }
  
  /* overrule bootstrap btn-secondary styles for main header nav btn */
  .dev-btn .btn-secondary {
    background: #1c5b4c;
    border: 1px solid #1c5b4c;
    box-shadow: 0 0 15px rgba(0,110,46,.3);
    border-radius: 6px;
    font-weight: 500;
    font-size: 1em;
    color: #FFF;
  }
  .dev-btn .btn-secondary:hover,
  .dev-btn .btn-secondary:active,
  .dev-btn .btn-secondary:focus,
  .dev-btn .btn-secondary:focus-within,
  .dev-btn .btn-secondary:not(:disabled):not(.disabled):active,
  .dev-btn .btn-secondary:not(:disabled):not(.disabled).active, 
  .dev-btn .show > .btn-secondary.dropdown-toggle {
    background: #007bff;
    border: 1px solid #007bff;
    box-shadow: 0 0 25px rgba(0,110,46,.7);
    color: #FFF;
  }
  
  /* overrule bootstrap btn-secondary styles for main header nav btn dropdown */
  .dev-btn .dropdown-menu {
    box-shadow: 0 0 25px rgba(0,110,46,.4);
    background: #1c5b4c;
  }
  
  .dev-btn .dropdown-item:hover,
  .dev-btn .dropdown-item:active,
  .dev-btn .dropdown-item:focus {
    background: none;
    color: #b7df2d;
  }
  .dev-btn-link {
    display:block;
    color: #a1d0c5;
  }
  .dev-btn-link:hover,
  .dev-btn-link:active,
  .dev-btn-link:focus {
    color: #FFF;
    text-decoration:none;
    background-color: none;
  }