.home {
  position: relative;
  box-sizing: border-box;
  /*margin-top: 100px;*/
  /*position: relative;*/
  /*background: #f5f5f5;*/
/*  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;*/
  z-index: 0;
  background: #f5f5f5;
}

/***** PAGE HEADER ******/

.home__hdr-wrap {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  font-size: calc(1em + 1vmin);
  background: 
    -webkit-linear-gradient(45deg, rgba(19,19,19,.2) 0%, rgba(19,19,19,.1) 30%, rgba(19,19,19,.05) 100%),
    -webkit-radial-gradient(rgba(255,255,255,.5) 0%, rgba(255,255,255,0) 100%),
    -webkit-linear-gradient(top, rgba(208,240,79,0) 0%, rgba(208,240,79,.1) 100%),
    rgba(245,245,245,.8);
  background: 
    linear-gradient(45deg, rgba(19,19,19,.2) 0%, rgba(19,19,19,.1) 30%, rgba(19,19,19,.05) 100%),
    radial-gradient(rgba(255,255,255,.5) 0%, rgba(255,255,255,0) 100%),
    linear-gradient(to bottom, rgba(208,240,79,0) 0%, rgba(208,240,79,.1) 100%),
    rgba(245,245,245,.8);
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 3px solid #AECAC9;
  position: relative;
  z-index: 100;
  min-height: 400px;
}
.home__hdr {
  font-size: calc(1.2em + 1vmin);
  padding-top: 20px;
}

.home__hdr-hdr {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-style: italic;
  color: #000000;
  padding: 5px;
  background: 
    -webkit-gradient(linear, left top, left bottom, from(#cc0000), color-stop(30%, #cc0000), to(#000));
  background: 
    -webkit-linear-gradient(top, #cc0000 0%, #cc0000 30%, #000 100%);
  background: 
    linear-gradient(to bottom, #cc0000 0%, #cc0000 30%, #000 100%);
  background:
    -webkit-linear-gradient(to bottom, #cc0000 0%, #3f3f53 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home__hdr-txt {
  padding: 0 calc(10 * 1.5vw);
  margin: auto;
  color: #628a88;
}

/***** END PAGE HEADER ******/


.home__email {
  color: #649795;
  text-decoration: none;
}
.home__email:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {

}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIkNvbnRhY3QuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0Usa0JBQWtCO0VBQ2xCLHNCQUFzQjtFQUN0QixxQkFBcUI7RUFDckIsc0JBQXNCO0VBQ3RCLHVCQUF1QjtBQUN6Qjs7Z0NBRWdDO0VBQzlCLFVBQVU7RUFDVixtQkFBbUI7QUFDckI7O0FBRUEseUJBQXlCOztBQUV6QjtFQUNFLGNBQWM7RUFDZCxrQkFBa0I7RUFDbEIsV0FBVztFQUNYLGFBQWE7RUFDYixzQkFBc0I7RUFDdEIsNEJBQTRCO0VBQzVCOzs7O3dCQUlzQjtFQUp0Qjs7Ozt3QkFJc0I7RUFDdEIsa0JBQWtCO0VBQ2xCLHFCQUFxQjtFQUNyQixnQ0FBZ0M7RUFDaEMsa0JBQWtCO0VBQ2xCLFlBQVk7RUFDWixpRkFBaUY7RUFDakYsc0JBQXNCO0FBQ3hCO0FBQ0E7RUFDRSw4QkFBOEI7QUFDaEM7O0FBRUE7RUFDRSwrQkFBK0I7RUFDL0IsZ0JBQWdCO0VBQ2hCLGtCQUFrQjtFQUNsQixjQUFjO0VBQ2Q7c0dBQ2dFO0VBRGhFO29FQUNnRTtFQURoRTtrRUFDZ0U7RUFDaEU7Z0VBQzhEO0VBQzlELDZCQUE2QjtFQUM3QixvQ0FBb0M7QUFDdEM7O0FBRUE7RUFDRSwyQkFBMkI7RUFDM0IsWUFBWTtFQUNaLGNBQWM7QUFDaEI7O0FBRUEsNkJBQTZCOzs7QUFHN0I7RUFDRSxjQUFjO0VBQ2QscUJBQXFCO0FBQ3ZCO0FBQ0E7RUFDRSwwQkFBMEI7QUFDNUIiLCJmaWxlIjoiQ29udGFjdC5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIuY29udGFjdCB7XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgYm94LXNpemluZzogYm9yZGVyLWJveDtcbiAgLyptYXJnaW4tdG9wOiAxMDBweDsqL1xuICAvKnBvc2l0aW9uOiByZWxhdGl2ZTsqL1xuICAvKmJhY2tncm91bmQ6ICNmNWY1ZjU7Ki9cbi8qICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiB0b3AgY2VudGVyO1xuICBiYWNrZ3JvdW5kLXNpemU6IGNvbnRhaW47XG4gIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7Ki9cbiAgei1pbmRleDogMDtcbiAgYmFja2dyb3VuZDogI2Y1ZjVmNTtcbn1cblxuLyoqKioqIFBBR0UgSEVBREVSICoqKioqKi9cblxuLmNvbnRhY3RfX2hkci13cmFwIHtcbiAgbWFyZ2luOiAwIGF1dG87XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgd2lkdGg6IDEwMCU7XG4gIHotaW5kZXg6IDEwMDA7XG4gIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XG4gIGZvbnQtc2l6ZTogY2FsYygxZW0gKyAxdm1pbik7XG4gIGJhY2tncm91bmQ6IFxuICAgIGxpbmVhci1ncmFkaWVudCg0NWRlZywgcmdiYSgxOSwxOSwxOSwuMikgMCUsIHJnYmEoMTksMTksMTksLjEpIDMwJSwgcmdiYSgxOSwxOSwxOSwuMDUpIDEwMCUpLFxuICAgIHJhZGlhbC1ncmFkaWVudChyZ2JhKDI1NSwyNTUsMjU1LC41KSAwJSwgcmdiYSgyNTUsMjU1LDI1NSwwKSAxMDAlKSxcbiAgICBsaW5lYXItZ3JhZGllbnQodG8gYm90dG9tLCByZ2JhKDIwOCwyNDAsNzksMCkgMCUsIHJnYmEoMjA4LDI0MCw3OSwuMSkgMTAwJSksXG4gICAgcmdiYSgyNDUsMjQ1LDI0NSwuOCk7XG4gIHBhZGRpbmctdG9wOiAxMDBweDtcbiAgcGFkZGluZy1ib3R0b206IDEwMHB4O1xuICBib3JkZXItYm90dG9tOiAzcHggc29saWQgI0FFQ0FDOTtcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xuICB6LWluZGV4OiAxMDA7XG4gIC8qbWFzay1pbWFnZTogbGluZWFyLWdyYWRpZW50KHRvIGJvdHRvbSwgcmdiYSgwLDAsMCwwKSAwcHgsIHJnYmEoMCwwLDAsMSkgMTAwJSk7Ki9cbiAgLyptYXNrLXJlcGVhdDogc3BhY2U7Ki9cbn1cbi5jb250YWN0X19oZHIge1xuICBmb250LXNpemU6IGNhbGMoMS4yZW0gKyAxdm1pbik7XG59XG5cbi5jb250YWN0X19oZHItaGRyIHtcbiAgZm9udC1mYW1pbHk6ICdSb2JvdG8gQ29uZGVuc2VkJztcbiAgZm9udC13ZWlnaHQ6IDcwMDtcbiAgZm9udC1zdHlsZTogaXRhbGljO1xuICBjb2xvcjogIzAwMDAwMDtcbiAgYmFja2dyb3VuZDogXG4gICAgbGluZWFyLWdyYWRpZW50KHRvIGJvdHRvbSwgI2NjMDAwMCAwJSwgI2NjMDAwMCAzMCUsICMwMDAgMTAwJSk7XG4gIGJhY2tncm91bmQ6XG4gICAgLXdlYmtpdC1saW5lYXItZ3JhZGllbnQodG8gYm90dG9tLCAjY2MwMDAwIDAlLCAjM2YzZjUzIDEwMCUpO1xuICAtd2Via2l0LWJhY2tncm91bmQtY2xpcDogdGV4dDtcbiAgLXdlYmtpdC10ZXh0LWZpbGwtY29sb3I6IHRyYW5zcGFyZW50O1xufVxuXG4uY29udGFjdF9faGRyLXR4dCB7XG4gIHBhZGRpbmc6IDAgY2FsYygxMCAqIDEuNXZ3KTtcbiAgbWFyZ2luOiBhdXRvO1xuICBjb2xvcjogIzYyOGE4ODtcbn1cblxuLyoqKioqIEVORCBQQUdFIEhFQURFUiAqKioqKiovXG5cblxuLmNvbnRhY3RfX2VtYWlsIHtcbiAgY29sb3I6ICM2NDk3OTU7XG4gIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbn1cbi5jb250YWN0X19lbWFpbDpob3ZlciB7XG4gIHRleHQtZGVjb3JhdGlvbjogdW5kZXJsaW5lO1xufSJdfQ== */