.device-options-wrap {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.device-options {
  text-align: center;
  padding: 2vw;
}

.device-options label {
  font-family: "Roboto Condensed";
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
}

.dev-options__dev {}

.dev-options__serv {}

.dev-options__met {}

.dev-options__btn {}


@media only screen and (max-width: 1199px) {
  .device-options-wrap {

  }
}

@media only screen and (max-width: 767px) {
  .device-options-wrap {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 100%;
  }

}

@media only screen and (max-width: 600px) {
  .device-options-wrap {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }

}