html {
	height: 100%;
}

body {
	height: 100%;
  margin: 0;
  /*background: rgba(255,242,224,0.5);*/
  background: #f5f5f5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.centered {
  margin: auto;
  text-align: center;
  display: block;
}

.clear {
  clear: both;
}

.component__hdr {
  margin: 20px auto;
  padding: 20px;
  color: #666;
  font-size: 1.2rem;
  text-align: center;
  z-index: 100;
}

.component__hdr-link {
  color:#555;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i&display=swap');
