.bg-wrap {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.bg--grad--1 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: -10%;
  width: 100%;
  height: 100%;
  background-position: center -100px;
  background-size: cover;
  background-repeat: no-repeat;
  background: -webkit-radial-gradient(circle, rgba(255,31,112,1) 0%, rgba(255,31,112,0) 80%);
  background: radial-gradient(circle, rgba(255,31,112,1) 0%, rgba(255,31,112,0) 80%);
  -webkit-animation: anim_bg_1;
          animation: anim_bg_1;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 0;
}

.bg--grad--2 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 20%;
  width: 100%;
  height: 100%;
  background-position: center -100px;
  background-size: cover;
  background-repeat: no-repeat;
  background: -webkit-radial-gradient(circle, rgba(27,51,54,1) 0%, rgba(27,51,54,0) 80%);
  background: radial-gradient(circle, rgba(27,51,54,1) 0%, rgba(27,51,54,0) 80%);
  -webkit-animation: anim_bg_2;
          animation: anim_bg_2;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 0;
}

@-webkit-keyframes anim_bg_1 {
  0%    { opacity:  0; }
  20%   { opacity: .2; }
  40%   { opacity:  0; }
  60%   { opacity:  0; }
  80%   { opacity:  0; }
  100%  { opacity:  0; }
}

@keyframes anim_bg_1 {
  0%    { opacity:  0; }
  20%   { opacity: .2; }
  40%   { opacity:  0; }
  60%   { opacity:  0; }
  80%   { opacity:  0; }
  100%  { opacity:  0; }
}

@-webkit-keyframes anim_bg_2 {
  0%    { opacity:  0; }
  20%   { opacity:  0; }
  40%   { opacity:  0; }
  60%   { opacity: .7; }
  80%   { opacity:  0; }
  100%  { opacity:  0; }
}

@keyframes anim_bg_2 {
  0%    { opacity:  0; }
  20%   { opacity:  0; }
  40%   { opacity:  0; }
  60%   { opacity: .7; }
  80%   { opacity:  0; }
  100%  { opacity:  0; }
}


